
.user_menu {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 700;
}

.btn_user{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: none;
  background-color: transparent;
  color: var(--aq-light);
  font-family: var(--nunito);
  font-size: 1.2rem;
  font-weight: 700;
  transition: scale .2s ease, color .2s ease-in-out;
}

.btn_user:hover {
  cursor: pointer;
  scale: 1.05;
  color: var(--aq-green);
}

.btn_user img{
  border-radius: 50px;
  border: 2px solid var(--aq-green);
}


.btn_logout {
  background-color: transparent;
  border: none;
  color: var(--aq-green);
  transition: scale .2s ease-in-out, filter .2s ease-in-out;
}

.btn_logout:hover {
  cursor: pointer;
  scale: 1.1;
  filter: drop-shadow(0 0 10px var(--aq-highlights))
}