:root {
  --aq-green: rgb(0, 214, 135);
  --aq-background: rgb(2, 6, 23);
  --aq-alert: rgb(190, 39, 44);
  --aq-yellow: rgb(231, 199, 21);
  --aq-dark: rgb(51, 51, 51);
  --aq-light: rgb(237, 237, 237);
  --aq-highlights: rgb(0, 214, 135, .5);
  --aq-shadowsGreen: rgb(0, 214, 135, .3);}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body{
  max-width: 100dvw;
  overflow-x: hidden;
  background-color: var(--aq-background);
}

a {
  color: inherit;
  text-decoration: none;
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #00d687 #020617;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #00d687;
    border-radius: 10px;
    border: 10px solid #00d687;
  }
