.content{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.circle {
  width:3rem;
  border-radius: 50px;
  aspect-ratio: 1;
  background-color: var(--aq-shadowsGreen);
}
.box {
  background-color: var(--aq-shadowsGreen);
  width: 5rem;
  height: 1rem;
  border-radius: 5px;
}