.container{
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  align-items: center;
  max-width: 1000px;
  width: 95%;
  height: 50rem;
  background-color: var(--aq-background);
  border-radius: 20px;
  border: 2px solid var(--aq-highlights);
  filter: drop-shadow(0 0 25px var(--aq-shadowsGreen));
  overflow: hidden;
}

@media (min-width: 768px) {
  .container{
  flex-direction: row;
  }
}

.picture_container{
  width: 100%;
  height: 50%;
  line-height: 0;
}

@media (min-width: 768px) {
  .picture_container{
    width: 50%;
    height: 100%;
  }
}

.loginImage {
  object-fit: cover;
  object-position: 0px 60px;
  height: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .loginImage {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
  }
}

.user_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--aq-light);
  padding: 1rem;
  width: 50%;
  height: 100%;
}

.btn_close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: .5rem;
  height: .5rem;
  align-self: flex-start;
  background-color: transparent;
  border-radius: 50px;
  border: 2px solid var(--aq-green);
  color: var(--aq-green);
  padding: .6rem;
  transition: filter .2s ease-in-out;
}

.btn_close:hover {
  filter: brightness(1.5);
  cursor: pointer;
}

.form_container {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap:1rem;
  width: 20rem;
}

.form_label {
  display: flex;
  flex-direction: column;
  gap: .5rem;

}
.form_label small {
  background-color:var(--aq-alert) ;
  width: fit-content;  
  border-radius: 50px;
  padding: .2rem .5rem;
  /* color:var(--aq-alert); */
  font-weight: 700;
}

.form_input {
  padding: .5rem;
  font-weight: 500;
  border-radius: 10px;
}


.btn_send {
  border: none;
  border-radius: 5px;
  padding: .5rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: var(--aq-green);
  transition: scale .2s ease-in-out, filter .2s ease-in-out, color .2s ease-in-out;
}

.btn_send:hover {
  cursor: pointer;
  scale: 1.1;
  filter: drop-shadow(0 0 15px var(--aq-highlights));
  color: var(--aq-light);
}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer_text{

}

.btn_redirect {
  border:none;
  background-color: transparent;
  color: var(--aq-green);
  font-weight: 700;
}

.btn_redirect:hover {
  cursor: pointer;
}