.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    max-width: 40rem;
    align-items: center;  
  }
}


.form_input {
  flex-grow: 1;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 10px;
  width: 100%;
}


.button_group{
  /* max-width: 10rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem; 
}

.btn_clue {
  border:none;
  background-color: var(--aq-yellow);
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 10px;
  transition: scale .2s ease-in-out;
  
}

.btn_next, .btn_send {
  border:none;
  background-color: var(--aq-green);
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 10px;
  transition: scale .2s ease-in-out;
}

.btn_next:hover, .btn_send:hover, .btn_clue:hover {
  cursor:pointer;
  scale: 1.05;
}

