
.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid  var(--aq-highlights);
  border-radius: 25px;
  background-color: var(--aq-background);
  filter: drop-shadow(0 0 10px var(--aq-shadowsGreen));
}

.container_clues{
  margin: 2rem;
  border: 1px solid  var(--aq-highlights);
  border-radius: 25px;
  background-color: var(--aq-background);
  filter: drop-shadow(0 0 10px var(--aq-shadowsGreen));
  max-width: 40rem;
  width: 100%;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title_clues{
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
}


.btn_nextLevel {
  border: none;
  border-radius: 5px;
  padding: .5rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: var(--aq-green);
  transition: scale .2s ease-in-out, filter .2s ease-in-out, color .2s ease-in-out;
}

.btn_nextLevel:hover {
  cursor: pointer;
  scale: 1.1;
  filter: drop-shadow(0 0 15px var(--aq-highlights));
  color: var(--aq-light);
}